.card {
  flex-direction: column;
  display: contents;

  &__icon {
    &--dark {
      .card__icon__svg {
        path {
        }
      }
    }

    &--light {
      .card__icon__svg {
      }
    }

    &__svg {
      width: 20%;
      margin-bottom: 14px;

      path {
      }
    }
  }

  &__title {
    font-size: 18px;
  }

  &__copy {
  }
}