.logos {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 80px;

  &__logo {
    &:last-child:nth-child(3n - 1) {
      grid-column-end: -2;
    }

    &:nth-last-child(2):nth-child(3n) {
      grid-column-end: 3;
    }

    &:last-child:nth-child(3n - 2) {
      grid-column-end: 4;
    }
  }
}
