.logos {
  grid-template-columns: repeat(5, 1fr);

  &__logo {
    &:last-child:nth-child(3n - 1) {
      grid-column-end: auto;
    }

    &:nth-last-child(2):nth-child(3n) {
      grid-column-end: auto;
    }

    &:last-child:nth-child(3n - 2) {
      grid-column-end: auto;
    }
  }
}
