@import '../../Styles/Partials/_templates.scss';
@import '../../Styles/Partials/_variables.scss';

$toggleBackgroundColor: #363636;
$toggleBackgroundHeight: 31px;

$toggleInsideHeight: 22px;
$toggleSpaceFromBackground: 4px;
$toggleBackgroundWidth: ($toggleInsideHeight * 2) + ($toggleSpaceFromBackground * 2);

.toggle {
  position: relative;
  display: inline-block;
  width: $toggleBackgroundWidth;
  height: $toggleBackgroundHeight;

  &--light {

  }

  &--dark {

  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
    appearance: none;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #363636;
    transition: ease-in-out $transitionTiming background-color;
    border-radius: $toggleBackgroundHeight;

    &--light {
      background-color: #363636;

      .toggle__slider__input:checked + &__slider {
        background-color: #363636;
      }
    }

    &--dark {
      background-color: transparent;
      border: 1px solid $darkThemeFontColor;

      .toggle__slider__input:checked + &__slider {
        background-color: transparent;
      }
    }

    &:before {
      position: absolute;
      content: "";
      height: $toggleInsideHeight;
      width: $toggleInsideHeight;
      left: $toggleSpaceFromBackground;
      bottom: $toggleSpaceFromBackground;
      background-color: white;
      transition: ease-in-out $transitionTiming;
      border-radius: 50%;
    }
  }

  &__input:checked + &__slider {
    background-color: $toggleBackgroundColor;
  }

  &__input:focus + &__slider {
    box-shadow: 0 0 1px $toggleBackgroundColor;
  }

  &__input:checked + &__slider:before {
    transform: translateX($toggleInsideHeight);
  }
}