@import "./Styles/Partials/templates";
@import "./Styles/Partials/variables";
//@ts-ignore
@import 'reset-css';


.App {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-node {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  position: relative;

  &--dark {
    font-family: 'Fira Code', monospace;
    color: $darkThemeFontColor;
  }

  &--light {
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    color: #363636;
  }

  &--active {
    opacity: 1;
  }

  &__parent {
    position: relative;
  }
}