//@import "../../Styles/Partials/templates";
//@import "../../Styles/Partials/variables";

.accordion {
  padding-top: 25px;
  padding-bottom: 25px;

  &--light {
  }

  &--dark {
  }

  &__title {


    &__company {
      margin-bottom: 7px;
      font-weight: 500;
      font-size: 18px;
    }

    &__location {
    }

    &__title {
      font-weight: 400;
      font-size: 16px;
    }
  }

  &__date {
    margin-top: 5px;
    font-size: 14px;
  }

  &__items {
    display: none;
  }

  &__item {
    &--light {
    }

    &--dark {
    }
  }
}